.about-us {
  box-sizing: border-box;
  width: 100%;
  padding: 125px 40px 135px;

  @media @before-w960 {
    padding: 80px 40px;
  }

  @media @before-w768 {
    padding: 35px 20px;
  }

  &__wrap {
    max-width: 810px;
    margin: 0 auto;
  }

  &__caption {
    margin: 0 auto 70px;
    font-family: @fontCaption;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: @colorPink;

    @media @before-w960 {
      margin-bottom: 50px;
    }

    @media @before-w768 {
      margin: 0 auto 30px;
      font-size: 50px;
    }
  }

  &__row {
    display: flex;
    padding: 80px 0;
    border-top: 1px solid @grayColor;

    &:first-child {
      padding-top: 0;
      border-top: 1px solid transparent;
    }

    @media @before-w960 {
      padding-bottom: 50px;
    }

    @media @before-w768 {
      max-width: 540px;
      margin: 0 auto;
      padding: 30px 0;
    }
  }

  &__img {
    width: 235px;
    margin-right: 40px;
    object-fit: contain;

    &--lm {
      margin-right: 0;
      margin-left: 40px;
    }

    @media @before-w768 {
      display: none;
    }
  }

  &__text {
    max-width: 540px;
    margin: 0;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    color: @captionColor;

    @media @before-w768 {
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
    }
  }

  &__btn {
    margin: 40px auto 0;

    @media @before-w768 {
      margin: 0 auto;
    }
  }
}