.btn {
  box-sizing: border-box;
  width: 200px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 48px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: @fontCaption;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  color: @whiteColor;
  outline: none;
  background-color: @colorPink;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: @bgDark;
    background-color: @whiteColor;
  }

  &--white {
    color: @bgDark;
    background-color: @whiteColor;

    &:hover {
      color: @whiteColor;
      background-color: @colorPink;
    }
  }

  &--w680 {
    max-width: 680px;
    width: 100%;
  }

  &--border {
    &:hover {
      border: 1px solid @colorPink;
    }
  }
}