.countries {
  min-height: 626px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  background-image: url("./img/bg-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media @before-w960 {
    min-height: 400px;
  }

  @media @before-w768 {
    min-height: 530px;
    padding: 0 20px;
  }

  &__wrap {
    max-width: 1232px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media @before-w768 {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__img {
    margin-right: 70px;

    @media @before-w1170 {
      width: 385px;
      margin-right: 30px;
    }

    @media @before-w960 {
      width: 280px;
    }

    @media @before-w768 {
      margin: 0 auto;
    }
  }

  &__cover {
    max-width: 640px;
    width: 100%;
  }

  &__caption {
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.5;
    color: @colorPink;

    @media @before-w960 {
      font-size: 24px;
    }

    @media @before-w768 {
      text-align: center;
    }
  }

  &__btn {
    margin-top: 45px;

    @media @before-w960 {
      margin-top: 30px;
    }

    @media @before-w768 {
      margin: 30px auto 0;
    }
  }
}