.culture {
  box-sizing: border-box;
  width: 100%;
  padding: 75px 40px 50px;

  @media @before-w960 {
    padding: 50px 40px 40px;
  }

  @media @before-w768 {
    padding: 50px 20px 20px;
  }

  &__wrap {
    max-width: 1022px;
    margin: 0 auto;
  }

  &__caption {
    margin: 0 auto 35px;
    text-align: center;
    font-family: @fontText;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    color: #3D3935;

    @media @before-w768 {
      font-size: 24px;
    }
  }

  &__text {
    margin: 0;
    font-family: @fontSubCaption;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: @captionColor;
    @media @before-w768 {
      font-size: 16px;
    }
  }

  &__btn {
    margin: 60px auto 0;

    @media @before-w768 {
      margin-bottom: 20px;

      &:last-child {
        margin-top: 30px;
      }
    }
  }
}