.expert {
  box-sizing: border-box;
  width: 100%;
  padding: 125px 40px 140px;
  background-color: @yellowColor;

  @media @before-w960 {
    padding: 50px 40px 40px;
  }

  @media @before-w768 {
    padding: 35px 20px 40px;
  }

  &__wrap {
    max-width: 790px;
    margin: 0 auto;
  }

  &__caption {
    margin: 0 auto;
    text-align: center;
    font-family: @fontCaption;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: @captionColor;

    @media @before-w768 {
      font-size: 36px;
    }
  }

  &__text {
    margin: 45px auto 65px;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: @captionColor;

    @media @before-w768 {
      margin: 25px auto 35px;
    }
  }

  &__wrap,
  &__caption,
  &__btn {
    margin: 0 auto;
  }
}