@font-face {
  font-family: 'DrukCondWeb-Super';
  src: url('../../fonts/DrukCond-Super.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk';
  src: url('../../fonts/DrukCond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../../fonts/Futura.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Book';
  src: url('../../fonts/FuturaBkBt.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Book';
  src: url('../../fonts/FuturaBkBt.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Book';
  src: url('../../fonts/FuturaBkBt.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}