.header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  min-height: 737px;
  padding: 65px 40px 0;
  background-color: @bgBlockYellow;

  @media @before-w960 {
    min-height: 600px;
    padding: 30px 40px 0;
  }

  @media @before-w768 {
    min-height: auto;
    padding: 30px 20px 30px;
  }

  &__container {
    max-width: 1232px;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  &__column {
    position: relative;
    max-width: 592px;
    width: 50%;

    @media @before-w768 {
      position: static;
      max-width: none;

      &:first-child {
        width: 100%;
      }

      &:last-child {
        width: 0;
      }
    }
  }

  &__phone {
    width: fit-content;
    display: block;
    padding-bottom: 1px;
    border-bottom: 2px solid @colorPink;
    font-family: @fontText;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
    text-decoration: none;
    color: @colorPink;
    transition: 0.3s;

    &:hover {
      border-bottom: 2px solid transparent;
    }

    @media @before-w768 {
      font-size: 16px;
    }
  }

  &__caption {
    margin: 55px 0 40px;
    font-family: @fontCaption;
    font-weight: 900;
    font-size: 104px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: @captionColor;

    @media @before-w1170 {
      font-size: 86px;
    }

    @media @before-w960 {
      font-size: 68px;
    }

    @media @before-w768 {
      margin-top: 90px;
      font-size: 52px;
    }
  }

  &__sub-caption {
    margin-bottom: 46px;
    font-family: @fontText;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    color: @captionColor;

    @media @before-w768 {
      font-size: 24px;
    }
  }

  &__btns {
    display: flex;

    @media @before-w960 {
      flex-direction: column;
      margin-bottom: 30px;
    }

    @media @before-w768 {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }

    @media @before-w960 {
      margin-right: 0;
      margin-bottom: 20px;
    }

    @media @before-w768 {
      margin-right: 13px;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    z-index: 1;

    @media @before-w1170 {
      height: 500px;
    }

    @media @before-w960 {
      height: 450px;
      right: 0;
    }

    @media @before-w768 {
      display: none;
    }
  }

  &__img-logo {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 0;

    @media @before-w1170 {
      top: 0;
    }

    @media @before-w960 {
      right: auto;
      left: 0;
    }

    @media @before-w768 {
      width: 130px;
      top: 55px;
      right: 20px;
      left: auto;
    }
  }

  &__img-bg {
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    z-index: 1;
  }
}