.impact {
  position: relative;
  box-sizing: border-box;
  padding: 70px 40px 135px;

  @media @before-w960 {
    padding: 40px 40px 135px;
  }

  @media @before-w768 {
    padding: 40px 20px 60px;
  }

  &__wrap {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
  }

  &__caption {
    margin: 0 auto;
    text-align: center;
    font-family: @fontCaption;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: @colorPink;

    @media @before-w960 {
      font-size: 54px;
    }

    @media @before-w768 {
      font-size: 32px;
    }
  }

  &__list {
    max-width: 635px;
    padding: 0;

    @media @before-w1340 {
      max-width: 525px;
    }

    @media @before-w960 {
      max-width: 420px;
    }

    @media @before-w768 {
      max-width: none;
    }

    & li {
      position: relative;
      margin-bottom: 35px;
      padding-left: 30px;
      list-style-type: none;
      font-family: @fontSubCaption;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.5;
      color: @captionColor;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 14px;
        left: 0;
        border-radius: 50%;
        background: @colorPink;

        @media @before-w768 {
          display: none;
        }
      }

      @media @before-w960 {
        font-size: 18px;
      }

      @media @before-w768 {
        padding-left: 0;
        text-align: center;
      }
    }
  }

  &__row {
    position: relative;
    height: 566px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media @before-w1170 {
      height: 370px;
    }

    @media @before-w768 {
      height: auto;
    }

    &--rev {
      justify-content: flex-start;
      margin-top: 45px;

      @media @before-w1170 {
        margin-top: 60px;
      }

      @media @before-w768 {
        margin-top: 30px;
      }
    }
  }

  &__btn {
    margin-top: 100px;
  }

  &__img-1 {
    position: absolute;
    left: -40px;

    @media @before-w1340 {
      width: 550px;
    }

    @media @before-w1170 {
      max-width: 450px;
    }

    @media @before-w960 {
      width: 350px;
    }

    @media @before-w768 {
      display: none;
    }
  }

  &__img {
    position: absolute;
    height: 600px;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    z-index: 2;

    @media @before-w1170 {
      height: 500px;
    }

    @media @before-w960 {
      height: 450px;
      top: 0;
      right: 0;
      transform: translateY(0);
    }

    @media @before-w768 {
      display: none;
    }
  }

  &__img-bg {
    position: absolute;
    top: -50%;
    right: -40px;
    z-index: 1;

    @media @before-w1170 {
      width: 460px;
    }

    @media @before-w960 {
      width: 360px;
      top: -70%;
    }

    @media @before-w768 {
      display: none;
    }
  }

  &__text {
    max-width: 600px;
    margin-left: auto;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.75;
    color: @captionColor;

    @media @before-w1170 {
      max-width: 500px;
    }

    @media @before-w960 {
      max-width: 400px;
      font-size: 18px;
    }

    @media @before-w768 {
      max-width: none;
      text-align: center;
    }
  }

  &__author {
    display: inline-block;
    margin-top: 30px;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.75;
    color: @colorPink;

    @media @before-w960 {
      font-size: 18px;
    }
  }

  &__quote {
    position: relative;
    margin: 30px auto 45px;
    padding: 0;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.75;
    text-align: center;
    color: @captionColor;

    @media @before-w1170 {
      font-size: 24px;
    }

    @media @before-w1170 {
      font-size: 22px;
    }

    @media @before-w960 {
      margin: 20px auto;
    }

    & cite {
      display: inline-block;
      font-style: normal;
      color: @colorLightGray;
    }

    &:after {
      content: '';
    }
  }

  &__quote-after,
  &__quote-before {
    max-width: 48px;
    margin-bottom: -3px;
    margin-left: 15px;

    @media @before-w1170 {
      max-width: 33px;
      margin-left: 10px;
    }

    @media @before-w960 {
      max-width: 25px;
      margin-left: 5px;
    }

    &:first-child {
      margin-right: 15px;
      margin-left: 0;

      @media @before-w1170 {
        margin-right: 10px;
      }

      @media @before-w960 {
        margin-right: 5px;
      }
    }
  }
}