.important {
  position: relative;
  box-sizing: border-box;
  padding: 0 40px;
  background: @yellowColor;
  overflow: hidden;

  @media @before-w768 {
    padding: 0 20px;
  }

  &__wrap {
    max-width: 1232px;
    margin: 0 auto;
    padding: 126px 0 136px;

    @media @before-w1170 {
      padding: 60px 0;
    }

    @media @before-w768 {
      padding: 30px 0;
    }
  }

  &__caption {
    margin: 0 0 80px;
    font-family: @fontCaption;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: @captionColor;

    @media @before-w1170 {
      margin-bottom: 50px;
      font-size: 56px;
    }

    @media @before-w768 {
      margin-bottom: 30px;
      text-align: center;
      font-size: 32px;
    }
  }

  &__list {
    max-width: 540px;
    padding: 0;

    @media @before-w960 {
      max-width: 440px;
    }

    @media @before-w768 {
      margin: 0 auto;
    }

    & li {
      position: relative;
      margin-bottom: 35px;
      padding-left: 30px;
      list-style-type: none;
      font-family: @fontSubCaption;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.5;
      color: @captionColor;

      @media @before-w960 {
        margin-bottom: 25px;
        padding-left: 20px;
      }

      @media @before-w768 {
        text-align: center;
        padding-left: 0;
        font-size: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 14px;
        left: 0;
        border-radius: 50%;
        background: @colorPink;

        @media @before-w768 {
          display: none;
        }
      }
    }
  }

  &__btn {
    margin-top: 100px;

    @media @before-w1170 {
      margin-top: 50px;
    }

    @media @before-w768 {
      margin: 30px auto 0;
    }
  }

  &__img {
    position: absolute;
    width: 641px;
    min-width: 641px;
    height: 492px;
    top: 50%;
    right: -113px;
    object-fit: contain;
    transform: translateY(-50%);

    @media @before-w1170 {
      min-width: auto;
      height: 280px;
      right: -195px;
    }

    @media @before-w960 {
      height: 255px;
      right: -230px;
    }

    @media @before-w768 {
      display: none;
    }
  }
}