.neuroscience {
  box-sizing: border-box;
  padding: 125px 40px 85px;
  background: linear-gradient(180deg, #FDE8F1 0%, rgba(253, 232, 241, 0) 100%);

  @media @before-w1170 {
    padding: 60px 40px 70px;
  }

  @media @before-w768 {
    padding: 30px 20px;
  }


  &__wrap {
    max-width: 925px;
    margin: 0 auto;
  }

  &__caption {
    margin: 0 auto 30px;
    font-family: @fontCaption;
    text-align: center;
    font-weight: 900;
    font-size: 52px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: @colorPink;

    @media @before-w768 {
      font-size: 32px;
    }
  }

  &__text {
    max-width: 690px;
    margin: 0 auto 115px;
    font-family: @fontText;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: @captionColor;

    @media @before-w1170 {
      margin-bottom: 55px;
    }

    @media @before-w768 {
      margin-bottom: 35px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media @before-w960 {
      flex-direction: column;
    }
  }

  &__img {
    @media @before-w960 {
      width: 350px;
    }
  }

  &__desc {
    max-width: 385px;
    margin: 0;
    font-family: @fontText;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    color: @captionColor;

    @media @before-w960 {
      max-width: none;
      margin: 30px auto 0;
      text-align: center;
    }
  }
}