.page-footer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 42px 112px 90px;
  background: @bgDark;

  @media @before-w960 {
    padding: 42px 40px 110px;
  }

  @media @before-w768 {
    padding: 42px 20px 130px;
  }

  &__wrapper {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media @before-w1170 {
      flex-wrap: wrap;
    }

    @media @before-w768 {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__column {
    max-width: 285px;

    @media @before-w1170 {
      max-width: none;
      width: 50%;
    }

    @media @before-w768 {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    &--right {
      @media @before-w1170 {
        text-align: right;
      }

      @media @before-w768 {
        text-align: center;
      }
    }

    &--mt {
      @media @before-w1170 {
        margin-top: auto;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 13px 0;
    list-style-type: none;

    @media @before-w768 {
      padding: 10px 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__caption {
    margin: 0 0 11px;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    color: @whiteColor;
  }

  &__link,
  &__phone,
  &__text {
    font-family: @fontText;
    font-size: 16px;
    text-decoration: none;
    color: @whiteColor;
    transition: 0.3s;
  }

  &__link,
  &__phone {
    &:hover {
      color: @yellowColor;
    }
  }

  &__phone {
    display: inline-block;
    margin: 24px 0 40px;
    font-size: 14px;

    @media @before-w768 {
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: 250px;
    font-size: 14px;

    @media @before-w1170 {
      margin-left: auto;
    }

    @media @before-w768 {
      margin-right: auto;
    }

    &--mr {
      margin-left: 0;

      @media @before-w768 {
        margin-left: auto;
      }
    }
  }

  &__link-soc {
    margin-right: 16px;
    text-decoration: none;
    color: @whiteColor;
    transition: 0.3s;

    @media @before-w1170 {
      display: inline-block;
      margin-bottom: 20px;
    }

    @media @before-w768 {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: @yellowColor;
    }
  }

  &__sub {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 40px;
    text-align: center;
    color: @whiteColor;
    font-family: @fontText;
    font-size: 14px;
    line-height: 1.5;
    background-color: @bgBlack;

    @media @before-w768 {
      padding: 16px 20px;
    }

    & a {
      text-decoration: none;
      color: @yellowColor;
      transition: 0.3s;

      &:hover {
        color: @colorPink;
      }
    }
  }

  &__btn {
    margin-top: 24px;

    @media @before-w1170 {
      margin-bottom: 20px;
      margin-left: auto;
    }

    @media @before-w768 {
      margin: 0 auto 30px;
    }
  }
}