.percents {
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
  background-color: @bgDark;

  &__wrap {
    box-sizing: border-box;
    position: relative;
    max-width: 1040px;
    width: 100%;
    height: 360px;
    display: flex;
    margin: 0 auto;
    padding: 72px 0;

    @media @before-w768 {
      height: auto;
      padding: 30px 0;
    }
  }

  &__text {
    max-width: 586px;
    margin: 0;
    font-family: @fontText;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.6;
    color: @whiteColor;

    @media @before-w1170 {
      max-width: 565px;
    }

    @media @before-w768 {
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
    }
  }

  &__img {
    position: absolute;
    top: -57px;
    right: 0;
    bottom: 0;

    @media @before-w960 {
      width: 300px;
      top: auto;
    }

    @media @before-w768 {
      display: none;
    }
  }

  &__author {
    display: inline-block;
    margin-top: 34px;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: @borderCOlor;
  }
}