.science {
  padding: 120px 40px;

  @media @before-w1170 {
    padding: 80px 40px;
  }

  @media @before-w768 {
    padding: 40px 20px;
  }

  &__wrap {
    max-width: 1232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media @before-w1170 {
      flex-direction: column;
    }
  }

  &__img-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    max-width: 495px;
    margin: 0;
    font-family: @fontText;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    color: @captionColor;

    &:last-child {
      margin-top: 30px;
    }

    @media @before-w1170 {
      max-width: 800px;
      margin-top: 60px;
      text-align: center;
    }

    @media @before-w768 {
      font-size: 18px;
    }
  }

  &__tabs {
    position: relative;
    min-width: 495px;
    min-height: 380px;

    @media @before-w768 {
      max-width: 390px;
      width: 100%;
      min-width: auto;
      min-height: 280px;
    }
  }

  &__radio-btn {
    opacity: 0;
  }

  &__desc {
    position: absolute;
    box-sizing: border-box;
    min-width: 390px;
    display: none;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 10px;
    font-family: @fontText;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: @whiteColor;
    background: #F11F74;
    opacity: 0.8;
    transform: translate(-50%, -50%);

    @media @before-w768 {
      min-width: 280px;
      width: 100%;
      justify-content: center;
      text-align: center;
    }
  }

  &__radio-btn:checked + .science__desc {
    display: flex;
  }

  &__svg {
    margin-right: 15px;
    color: #CECECE;
    transition: 0.3s;

    @media @before-w768 {
      width: 20px;
      margin-right: 10px;
    }
  }

  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    font-family: @fontText;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #707070;
    cursor: pointer;

    @media @before-w768 {
      font-size: 14px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 130px;
      height: 0;
      padding: 0;
      border: none;
      border-top: 2px dashed #CECECE;
      transform: rotate(60deg);
      top: 100px;
      left: 100px;
      z-index: -1;
      transition: 0.3s;

      @media @before-w768 {
        display: none;
      }
    }

    &--2 {
      right: 0;
      left: auto;

      &:before {
        transform: rotate(-60deg);
        top: 100px;
        right: 100px;
        left: auto;
      }
    }

    &--3 {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;

      &:before {
        transform: rotate(60deg);
        top: auto;
        right: 100px;
        left: auto;
        bottom: 100px;
      }
    }

    &--4 {
      top: auto;
      bottom: 0;

      &:before {
        transform: rotate(-60deg);
        top: auto;
        right: auto;
        bottom: 100px;
        left: 100px;
      }
    }

    &:hover {
      & .science__svg {
        color: #E91E62;
      }

      &:before {
        border-top: 2px dashed @colorPink;
      }
    }
  }
}