.steps {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 980px;
  display: flex;
  align-items: flex-end;
  margin-top: -280px;
  padding: 125px 40px 0;
  background-image: url("./img/bg-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  @media @before-w1440 {
    min-height: 735px;
    margin-top: -180px;
  }

  @media @before-w768 {
    min-height: 630px;
    padding: 100px 20px 30px;
  }

  &__wrap {
    max-width: 875px;
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media @before-w768 {
      width: 100%;
      justify-content: center;
    }
  }

  &__img {
    @media @before-w768 {
      display: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 65px;
    list-style-type: none;
    font-family: @fontText;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    color: @captionColor;

    @media @before-w768 {
      max-width: 280px;
      align-items: flex-start;
      margin-bottom: 20px;
      padding-left: 40px;
      font-size: 16px;
    }

    &--2 {
      margin-left: 40px;

      @media @before-w768 {
        margin-left: 0;
      }
    }

    &--3 {
      margin-left: 80px;

      @media @before-w768 {
        margin-left: 0;
      }
    }
  }

  &__count {
    position: absolute;
    left: 0;
    font-family: @fontSubCaption;
    font-weight: bold;
    font-size: 80px;
    line-height: 1;
    color: @captionColor;

    @media @before-w768 {
      top: 0;
      font-size: 42px;
    }
  }
}