.ways {
  box-sizing: border-box;
  width: 100%;
  padding: 65px 40px 80px;
  background-color: @bgDark;

  @media @before-w768 {
    padding: 35px 20px 40px;
  }

  &__wrap {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
  }

  &__text {
    max-width: 874px;
    margin: 0 auto 65px;
    font-family: @fontSubCaption;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: @whiteColor;
  }

  &__row {
    display: flex;
    align-items: center;

    @media @before-w768 {
      flex-direction: column;
    }
  }

  &__block {
    box-sizing: border-box;
    width: 389px;
    min-height: 134px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 20px;
    border-radius: 16px;
    background-color: @whiteColor;
    box-shadow: 0 4px 32px rgba(241, 31, 116, 0.15);

    &:last-child {
      margin-right: 0;
    }

    @media @before-w960 {
      min-height: 105px;
      margin-right: 20px;
      padding: 15px;
    }

    @media @before-w768 {
      max-width: 389px;
      width: 100%;
      min-width: 280px;
      margin-right: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__count {
    display: flex;
    margin-right: 25px;
    padding-right: 25px;
    border-right: 1px solid @colorPink;
    font-family: @fontSubCaption;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.1;
    color: @colorPink;

    @media @before-w1170 {
      margin-right: 15px;
      padding-right: 15px;
      font-size: 42px;
    }

    @media @before-w960 {
      margin-right: 10px;
      padding-right: 10px;
      font-size: 32px;
    }
  }

  &__desc {
    margin: 0;
    font-family: @fontText;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    color: @captionColor;

    @media @before-w960 {
      font-size: 16px;
    }
  }
}