html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-weight: normal;
  font-style: normal;
}

a {
  outline: none;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  box-shadow: none;
  outline: none;
}

button {
  cursor: pointer !important;
}