// Разрешение экрана
@before-w768: ~"(max-width: 767px)";
@before-w960: ~"(max-width: 959px)";
@before-w1170: ~"(max-width: 1169px)";
@before-w1340: ~"(max-width: 1339px)";
@before-w1440: ~"(max-width: 1439px)";

// Цветовая палитра
@whiteColor: #FFFFFF;
@grayColor: #E5E5E5;
@textColor: #828282;
@captionColor: #3D3935;
@bgDark: #3C3934;
@bgGray: #4B4944;
@colorLightGray: #a8a8a8;
@bgBlack: #4B4944;
@borderCOlor: #EAEAEA;
@colorPink: #E91E62;
@colorYellow: #ebdb08;
@yellowColor: #F0DF00;
@bgBlockYellow: #F1DF01;
@font-main: 'Roboto', sans-serif;

//Шрифты
@fontCaption: 'DrukCondWeb-Super';
@fontText: 'Futura', sans-serif;
@fontSubCaption: 'Futura', sans-serif;